.gc-intro.half-width-image {
	background: #eaebed;
	border: 1px solid #ddd;
	border-color: #eee;
	border-radius: 0;
	display: block;
	float: right;
	padding: 5px;
	transition: border .2s ease-in-out;
}
